<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	 
	 >

<head>
<meta charset="UTF-8"/>
<title>Liste des etudiants</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
	
	<link rel="stylesheet" type="text/css"
	href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}"/>	
	
</head>
<body layout:fragment="content">

<br/>






<div class="container spacer"  > 
<table class="table table-striped">
		<thead>
			<tr>
				<th><img th:src="@{/boutons/Plan.png}" /></th> 
				
				<th><img th:src="@{/boutons/notification.png}" /></th> 
				
				
				<th>
				<a th:href="@{/Cond/formPanne}">
				<img th:src="@{/boutons/panne.png}" />
				</a>
				</th> 
				
				
				
			</tr>
		</thead>
			
</table>


		<div>
		
		<p>
		
		
		
		
		</p>
		
		</div>
		
		<div  class="col-md-3">	    
			<div class="panel panel-primary" >
				<div class="panel-heading">vous êtes : </div>
				<div class="panel-body">
				
				<div>
					<label>Nom :</label>
					<label th:text="${conducteur.nomCond}" class="red"></label>
					
				</div>
				
				<div>
					<label>Prenom :</label>
					<label th:text="${conducteur.prenomCond}" class="red"></label>
					
				</div>
				
				<div>
					<label>Username :</label>
					<label th:text="${conducteur.username}" class="red" ></label>
					
				</div>
				
				<div>
					<label>ligne :</label>
					
					
				</div>
				
				<div>
					<label>Vous avez commencé depuis  :</label>
					
					<label th:text="${#dates.format(conducteur.dateConnexionCond, ' HH:mm')}" class="red" ></label>
					
				<!-- 	
					<label th:text="${#dates.format(conducteur.dateConnexionCond, 'dd MMMMMM yyyy HH:mm')}" class="red" ></label>
				-->
					
				</div>
				
				
				</div>
			</div>
		</div>	
		
		<div  class="col-md-5">	
			<div class="panel panel-primary" >
				<div class="panel-heading">plan</div>
				<div class="panel-body">
				
				<div>
					<label>Client:</label>
					
				</div>
				
				<div>
					<label>Code:</label>
					
				</div>
				
				
				</div>
			</div>
		</div>	
		
		<div  class="col-md-4">	
			
				
				
				
				<object type="application/x-shockwave-flash"  th:data="@{/swf/clock.swf}" width="200" height="250">
					
					<param name="quality" value="high" />
				</object>
				
				
				
			
			
		</div>	
			
			
			<div  class="col-md-3">	
			<div class="panel panel-primary" >
				<div class="panel-heading">Déconnexion</div>
				<div class="panel-body">
				
				<div>
					<a th:href="@{/Cond/logout}">
				<img th:src="@{/boutonsAdmin/logout.png}" width="100" height="100" />
				</a>
					
				</div>
				
				</div>
			</div>
			</div>	
			
			
			
			    
				    
</div>











</body>
</html>