<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 >

<head>
<meta charset="UTF-8"/>
<title>Liste des etudiants</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
	
	<link rel="stylesheet" type="text/css"
	href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}"/>	
	
</head>
<body layout:fragment="content">

<br/>
<div class="container spacer" >

	
	<a th:href="@{formMet}"> <img th:src="@{/pageBoutons/add.jpg}" height="50"  width="200"/> </a> 
	
</div>

<div class="container spacer">
	<form th:action="@{listeMetros}" method="get">
		<div class="form-group">
			<label>Numéro ligne:</label>
			<input type="text" name="numLigne" th:value="${numLigne}" />
			<button type="submit">chercher</button>
		</div>
	</form>

</div>


<div class="container spacer">
<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th> <th>ligne</th> <th>Numéro</th>   <th>direction</th>
				<th>modele</th> <th>Satation actuelle</th> 
			</tr>
		</thead>
		<tbody>
			<tr th:each="m:${pageMetros.content}" >
				<td th:text="${m.idMet}"></td>
				
				<td th:text="${m.ligne}"></td>
				<td th:text="${m.numero}"></td>
				<td th:text="${m.direction}"></td>
				<td th:text="${m.modele}"></td>
				<!-- 
				<td th:text="${m.station}"></td>
				 -->
				
				<td>
					<a onclick="return confirm('Etes vous sure?') "  th:href="@{supprimerMet(id=${m.idMet})}" >Supprimer</a>
					<a th:href="@{editMet(id=${m.idMet})}" >Edit</a>
				</td>
				
				</tr>
		</tbody>
</table>
<div class="container" >
	<ul class="nav nav-pills">
		<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
		<a th:text="${p}" th:href="@{listeMetros(page=${p},numLigne=${numLigne})}"></a>
		</li>
	</ul>

</div>
</div>
</body>
</html>