<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 >

<head>
<meta charset="UTF-8"/>
<title>Liste des etudiants</title>
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}"/>
	
	<link rel="stylesheet" type="text/css"
	href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}"/>	
	
</head>
<body layout:fragment="content">

<br/>

<div  class="col-md-3">	    
			<div class="panel panel-primary" >
				<div class="panel-heading">le metro choisi  </div>
				<div class="panel-body">
				
				
				
				<div>
					<label>Numéro :</label>
					<label th:text="${metro.numero}" class="red"></label>
					
				</div>
				<div>
					<label>Ligne :</label>
					<label th:text="${metro.ligne}"  class="red"></label>
					
				</div>
				<div>
					<label>modèle :</label>
					<label th:text="${metro.modele}"  class="red"></label>
					
				</div>
				
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				
				
				
				</div>
			</div>
		</div>	

<div  class="col-md-9">	
			<div class="panel panel-primary" >
				<div class="panel-heading">veuillez choisir un métro :</div>
				<div class="panel-body">
				
				<!-- 
				cette partie est consacrée pour la recherche du metro
				 -->
				
				

<div class="container spacer" >

	
	<a th:href="@{formTourn(id=${metro.idMet})}"> <img th:src="@{/pageBoutons/add.jpg}" height="50"  width="200"/> </a> 
	
</div>


<div class="container spacer col-md-12">
<table class="table table-striped">
		<thead >
			<tr>
				<th>ID</th> <th>temps de départ de barcelona</th> <th>temps de départ de terminus</th> 
			</tr>
		</thead>
		<tbody  >
			<tr th:each="t:${pageTournees.content}" >
				
				
				<td th:text="${t.idTournee}"></td>
				<td th:text="${t.tempsDepBar}"></td>
				<td th:text="${t.tempsDepTer}"></td>
				
				<td>
					<a onclick="return confirm('Etes vous sure?') "  th:href="@{supprimerMet(id=${m.idMet})}" >Supprimer</a>
					<a th:href="@{editMet(id=${m.idMet})}" >Edit</a>
				</td>
				
				</tr>
		</tbody>
</table>
<div class="container" >
	<ul class="nav nav-pills">
		<li th:each="p:${pages}" th:class="${p==pageCourante}?active:''">
		<a th:text="${p}" th:href="@{choixMetTr(id=${metro.idMet},page=${p})}"></a>
		</li>
	</ul>

</div>
</div>
				
				
				<!-- 
				fin de la partie est consacrée pour la recherche du metro
				 -->
				</div>
			</div>
</div>	



</body>
</html>